/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(244, 243, 243);
}
.principal{
   display: flex;
     
}
body{
    background-image: url(fondo\ pagina.webp);

    

}
.titulo{
    font-size: 60px;
    text-align: center;

}
    