/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
    background-image: url(FONDO\ 2.jpeg);

    

}
.titulo{
    font-size: 60px;
    text-align: center;

}
    